body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #e5e5e5; }

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px; }

.logo {
  margin: 10px 0; }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.list__elem {
  list-style-type: none;
  margin-right: 20px; }

.list__elem:last-child {
  margin-right: 0; }

.list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.list__link.is-active,
.list__link:hover {
  color: #00acdc;
  position: relative; }

.is-active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background: #00acdc;
  bottom: 0;
  left: 0; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff; }

.main {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 403px);
  gap: 50px 48px;
  padding: 50px 0 78px; }

.card {
  position: relative;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 30px 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 11px;
  line-height: 13px; }

.card__raiting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.card__price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.card__img {
  width: 160px;
  margin: 0 auto 45px;
  display: block;
  height: 134px; }

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px; }

.card__code {
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 5px; }

.star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.star {
  margin-right: 4px;
  width: 15px;
  height: 15px;
  background: url(../images/star.svg) center no-repeat; }

.star_active {
  background-image: url(../images/star-active.svg); }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.price {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px; }

.card__button {
  border: 1px solid #00acdc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 170px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  line-height: 38px;
  background: #00acdc;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px; }

.text {
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  margin-bottom: 5px; }

.card__button:hover {
  background: #fff;
  color: #00acdc; }

/*# sourceMappingURL=main.css.map */
